.mt-1 {
  margin-top: 1rem;
}

.mt-1_5 {
  margin-top: 1.5rem;
}

.m-auto {
  margin: auto;
}

.mr-1 {
  margin-right: 1rem;
}

.mtb-0_3 {
  margin: 0.3rem 0;
}

.mt-2_5 {
  margin-top: 2.5rem;
}

.mtb-1 {
  margin: 1rem 0;
}
